body {
  background-image: url("./assests/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.section {
  height: 100vh;
}

#gameScreen {
  display: none; /* to hide the gamescreen on launch. */
  max-width: 900px;
  min-width: 600px;
  height: 97vh;
  padding: 1em;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
#gameScreen h1 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

#initialScreen {
  max-width: 800px;
  min-width: 600px;
  height: 65vh;
  padding: 1em;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
  /* padding: 3rem 0; */
  margin: 0.7em 0;
  font-weight: bold;
  color: rebeccapurple;
  font-size: 4rem;
}

h2 {
  padding: 1rem 0;
}
input {
  border-radius: 10px;
  border: none;
  padding: 5px 5px;
  background-color: lightgrey;
}
p,
h2 {
  font-size: 1.2em;
}
.btn {
  width: 200px;
  height: 45px;
  margin-top: 1em;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  color: #fff;
  background-color: #22bb7e;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn:hover {
  background-color: inherit;
  border: 3px solid #22bb7e;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #000;
  transform: translateY(-7px);
}
.btn:active {
  background-color: inherit;
  border: 3px solid #22bb7e;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  color: #000;
  transform: translateY(-2px);
}
@media screen and (max-width: 820px) {
  #initialScreen {
    max-width: 600px;
    min-width: 600px;
  }
}
@media screen and (max-width: 946px) {
  #gameScreen {
    max-width: 700px;
    min-width: 600px;
    height: 100vh;
  }
}
